<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{% block title%} {% endblock %}</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="keywords" content="Dylan Kelly, Main Dylan Kelly">
		<meta name="description" content="Dylan Kelly Home Page">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        {% load static %}
        <link rel="stylesheet" href="{% static 'mainsite/CSS/index.css'%}"
    </head>
        {% include 'mainsite/navbar.html' %}
    <body>
        {% block body %} {% endblock %}
        {% block footer %} {% endblock %}

    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</html>
