{% extends 'mainsite/base.html' %}
{% block title %} Home  {% endblock %}
{% block head%}
    {% load static %}
    <link rel="stylesheet" href="{% static 'mainsite/CSS/index.css'%}">
{% endblock %}

{% block body %}
    {% load static %}
    <img src="{% static 'mainsite/pics/banner.png' %}" class="img-responsive img1" alt="Banner">
    <div id="mainContainer">
        <h1>Welcome to DK OSRS</h1>
    </div>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <h3>Welcome</h3>
                <p>This website was made by Dylan Kelly for the massive multiplayer online game known as
                    Old School Runescape. Runescape was release January 4th, 2001. However Old School Runescape (OSRS) was
                    released February 22nd, 2013. The purpose was to bring back the old feel of the game before the massive updates
                    like no PVP (player vs player) in the wilderness and before the combat update. The game has over 70,000 players active at
                    a time. There is tons to do from skilling, player vs enviorment, player vs monster and player vs player. There are over 100 quest
                    and a stable economy. This website was made to help players learn more about OSRS and to discover items, monster and players in the
                    game.
                </p>
            </div>
            <div class="col-md-5">
                <h3>Check it Out!</h3>
                <p>This websites offers great features for current, old and new OSRS players. By clicking the button SEARCH OSRS you can search for
                    in-game items, monsters and players. If you search for a player you can compare two players at a time to see who has better stats, monster kills,
                    mini-game points, quest points and player vs player kills. This is all taken from the offical Runescape website. I DO NOT OWN ANY OF THIS INFORMATION
                    AND IT IS ALL COPYRIGHT BY JAGEX! So get out there and discover the game we love!
                </p>
            </div>
            <div class="col-md-5">
                <h3>Sign up Today!</h3>
                <p>Join the site to gain access to voting for your favorite in game players! These players can be PVP-streams PVM streams, youtubers or
                    vote for your self! Also, you can save and monitor in game items that you can check the daily changes. So don't wait and join now!
                    <br><br>
                    -Dylan Kelly
                </p>
            </div>
            <div class="col-md-5">
                <h3>Taste Vengeance!</h3>
                <img src="{% static 'mainsite/pics/KOGIF.gif'%}" alt="KO">
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <footer>
        <p> site is &copyright by Dylan Kelly and Runecape &copyright by Jagax </p>
    </footer>
{% endblock %}
