{% extends 'mainsite/base.html' %}
{% block title %} Search Player  {% endblock %}
{% block head%}
    {% load static %}
    <link rel="stylesheet" href="{% static 'mainsite/CSS/searchplayer.css'%}">
{% endblock %}

{% block body %}
    <h1>Search For Player</h1>
    <div class="col-md mainC">
        <label for="username">User Name:</label>
        <input type="text" id="username" name="username">
        <button id="btnplayer">Search Player</button>
        <br><br>
        <span id="errorplayer"></span>
    <table>
        <tr>
            <th>Skill</th>
            <th>Level</th>
            <th>Rank</th>
        </tr>
         <tr>
             <td>Attack</td>
             <td id="attlvl">--</td>
             <td id="attrank">--</td>
         </tr>
         <tr>
            <td>Strength</td>
             <td id="strlvl">--</td>
            <td id="strrank">--</td>
         </tr>
            <tr>
                <td>Defence</td>
                <td id= "deflvl">--</td>
            <td id = "defrank">--</td>
          </tr>
            <tr>
            <td>Range</td>
             <td id="rangelvl">--</td>
            <td id="rangerank">--</td>
         </tr>
            <tr>
            <td>Prayer</td>
             <td id="prayerlvl">--</td>
            <td id="prayerrank">--</td>
         </tr>
            <tr>
            <td>Magic</td>
             <td id="magelvl">--</td>
            <td id="magerank">--</td>
         </tr>
        <tr>
            <td>Runescrafting</td>
             <td id="rclvl">--</td>
            <td id="rcrank">--</td>
         </tr>
        <tr>
            <td>Hitpoints</td>
             <td id="hplvl">--</td>
            <td id="hprank">--</td>
         </tr>
        <tr>
            <td>Crafting</td>
             <td id="craftlvl">--</td>
            <td id="craftrank">--</td>
         </tr>
        <tr>
            <td>Mining</td>
             <td id="minelvl">--</td>
            <td id="minerank">--</td>
         </tr>
        <tr>
            <td>Smithing</td>
             <td id="smithlvl">--</td>
            <td id="smithrank">--</td>
         </tr>
        <tr>
            <td>Fishing</td>
             <td id="fishlvl">--</td>
            <td id="fishrank">--</td>
         </tr>
        <tr>
           <td>Cooking</td>
            <td id="cooklvl">--</td>
            <td id="cookrank">--</td>
         </tr>
        <tr>
            <td>Firemaking</td>
             <td id="firelvl">--</td>
            <td id="firerank">--</td>
         </tr>
        <tr>
            <td>Woodcutting</td>
             <td id="woodlvl">--</td>
            <td id="woodrank">--</td>
         </tr>
        <tr>
            <td>Agility</td>
             <td id="aglvl">--</td>
            <td id=agrank>--</td>
         </tr>
        <tr>
            <td>Herblore</td>
             <td id="herblvl">--</td>
            <td id="herbrank">--</td>
         </tr>
        <tr>
            <td>Thieving</td>
             <td id="thievlvl">--</td>
            <td id="thievrank">--</td>
         </tr>
        <tr>
            <td>Fletching</td>
             <td id="fletchlvl">--</td>
            <td id="fletchrank">--</td>
         </tr>
        <tr>
            <td>Slayer</td>
             <td id="slaylvl">--</td>
            <td id="slayrank">--</td>
         </tr>
        <tr>
            <td>Farming</td>
             <td id="farmlvl">--</td>
            <td id="farmrank">--</td>
         </tr>
        <tr>
            <td>Construction</td>
             <td id="conlvl">--</td>
            <td id="conrank">--</td>
         </tr>
        <tr>
            <td>Hunter</td>
             <td id="huntlvl">--</td>
            <td id="huntrank">--</td>
         </tr>
    </table>
    </div>
    {%load static%}
    <script src="{% static 'mainsite/JS/searchplayer.js' %}"></script>
{% endblock %}
{% block footer %}
    <footer>
        <p> This site is &copy copyright by Dylan Kelly and Runecape &copy copyright by Jagax </p>
    </footer>
{% endblock %}
