--------------------------------------------------------------------------------
General Requirements
--------------------------------------------------------------------------------
Landing page (home page)
login page
log out page
player comparison page
    -search a single player
    -search two players and compare
    -high light stats that are better
Item page- users should be able to search in game items
Favorite player page - players should vote on favorite players/youtubers
About page
Game Break Page 
Profile Page


--------------------------------------------------------------------------------
Functional Requirements
--------------------------------------------------------------------------------
User (name, game user name, age, email, password)
OSRS-API
SQLite Database
player lookup and stat highlighting
Vote page that list the favorite OSRS players
Security - secure login and password hashing
player voting system
user sign in
user sign out
user vote for player 
user change password
user look up item
user look up NPC 
user look up player
little game for players to play (game break)



--------------------------------------------------------------------------------
Non-Functional Requirements
--------------------------------------------------------------------------------
Database scales to new users
Database scales to new players to vote
Voting System is responsive and quick to sort
Users information should be secure
User password is hashed and salted
reCaptcha for non bots 


--------------------------------------------------------------------------------
Interface Requirements
--------------------------------------------------------------------------------
Interactive web-interface
Responsive design for mobile devices
user player lookup
user login
about page
fixed navigation menu



